<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <clear />
    <add key ="RutaLog" value ="C:\Documento\ArchivoCargue\"/>
    <add key ="archivoConfig" value ="C:\Documento\ArchivoCargue\"/>
    <add key ="RutaDriver" value ="C:\Documento"/>
    <add key ="Usuario" value ="1020771760"/>
    <add key ="Contrasena" value ="TEMPORAL"/>
    <add key ="TiempoDriver" value ="1"/>
    <add key ="TiempoEspera" value ="1"/>
  </appSettings>
  <connectionStrings>
    <add name="CadenaConexion" connectionString="Data Source=co2cbd53s\sql4;Initial Catalog=ADMISION; User Id=appconsulta;Password=appconsulta;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>